In [6]:
import pandas as pd


# 1) Save your current dataframe snapshot
df = pd.read_csv("Our415_Events_and_Activities_20251008.csv")

# 2) Helpers to make values hashable for nunique()
def make_hashable(x):
    if isinstance(x, list):
        return tuple(make_hashable(i) for i in x)
    if isinstance(x, dict):
        # sort by key for stable representation
        return tuple(sorted((k, make_hashable(v)) for k, v in x.items()))
    if isinstance(x, set):
        return tuple(sorted(make_hashable(i) for i in x))
    return x  # numbers, strings, timestamps, tuples, None/NaN pass through

def safe_nunique(s: pd.Series) -> int:
    # Drop NaNs first to keep dropna=True behavior
    s_no_na = s.dropna()
    # Convert each element to something hashable
    return s_no_na.map(make_hashable).nunique()

# 3) Build the audit summary table
audit_table = pd.DataFrame({
    "column": df.columns,
    "pandas_dtype": [df[c].dtype for c in df.columns],
    "num_unique": [safe_nunique(df[c]) for c in df.columns],
    "non_null_count": [df[c].notna().sum() for c in df.columns],
})

# 4) Save + (optionally) view
audit_table.to_csv("audit_summary_table.csv", index=False)
audit_table

                             column pandas_dtype  num_unique  non_null_count
0                                id       object        2039            2039
1                          org_name       object          14            2026
2                        event_name       object         812            2039
3                 event_description       object         822            1997
4                  event_start_date       object          95            2039
5                    event_end_date       object          82            2039
6                      days_of_week       object          30             951
7                        start_time       object          52            2039
8                          end_time       object          54            2039
9                         more_info       object        1089            2039
10                              fee       object           2            1833
11                  admission_price      float64           0               0
12               site_location_name       object         113            2024
13                      event_photo       object         316            1912
14                         category       object           8            2027
15                      subcategory       object          63            1199
16       age_group_eligibility_tags       object          41            1867
17  race_ethnicity_eligibility_tags       object           5              71
18   special_needs_eligibility_tags       object           1              12
19            sogi_eligibility_tags       object           4              71
20        language_eligibility_tags       object           5             206
21                     site_address       object         106            1993
22                       site_phone       object          70            1903
23                       site_email       object          35             953
24                         latitude      float64         101            1901
25                        longitude      float64         101            1901
26                            point       object         101            1901
27            analysis_neighborhood       object          35            1901
28              supervisor_district      float64          11            1901
29                       data_as_of       object           1            2039
30                   data_loaded_at       object           1            2039